[project]
	description = Stormstack internal repo for tracking the source code used to release the stormstack components for internal releases.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/surajsudhakar
[access "refs/for/refs/*"]
	read = group user/surajsudhakar
	push = group user/surajsudhakar
	label-Code-Review = -2..+2 group user/surajsudhakar
	label-Verified = -1..+1 group user/surajsudhakar
	rebase = group user/surajsudhakar
	removeReviewer = group user/surajsudhakar
	submit = group user/surajsudhakar
[access "refs/heads/*"]
	read = group user/surajsudhakar
	create = group user/surajsudhakar
	push = +force group user/surajsudhakar
	pushMerge = group user/surajsudhakar
[access "refs/tags/*"]
	push = +force group user/surajsudhakar
	pushTag = group user/surajsudhakar
	pushSignedTag = group user/surajsudhakar
